.counter-card {
    &-wrap {
        border-right: 1px dashed #A4ACB9;
        &:last-child {
            border-right: none;
        }
    }
    text-align: center;
    &_icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        background-color: rgba($color: #3cb371, $alpha: 0.1);
        border-radius: 99px;
        text-align: center;
        margin: 0 auto 25px auto;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            inset: 10px;
            background-color: inherit;
            border-radius: inherit;
        }
    }
    &_number {
        font-size: 36px;
        font-family: $body-font;
        margin-bottom: 5px;
        font-weight: 800;
    }
    &_text {
        margin-bottom: -0.5em;
    }
}

@include md {
    .counter-card {
        &-wrap {
            
            &:nth-child(2) {
                border-right: none;
            }
            &:not(:nth-child(n + 3)) {
                border-bottom: 1px dashed #A4ACB9;
                padding-bottom: 30px;
            }
            &:nth-child(n + 3) {
                padding-top: 30px;
            }
        }
    }
}

@include xs {
    .counter-card_number {
        font-size: 30px;
    }
}

.counter-card.style2 {
    .counter-card {
        &_icon {
            background-color: rgba($color: #fff, $alpha: 0.1);
            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}