.slick-track > [class*="col"] {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
.slick-list {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
  
.slick-track {
    min-width: 100%;
}

.slick-slide img {
    display: inline-block;
}

.slick-dots {
    list-style-type: none;
    padding: 0 0;
    margin: 40px 0 0 0;
    line-height: 0;
    text-align: center;
    height: max-content;

    li {
        display: inline-block;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    button {
        font-size: 0;
        padding: 0;
        background-color: transparent;
        width: 20px;
        height: 6px;
        line-height: 0;
        border-radius: 9999px;
        border: none;
        background-color: rgba($color: #000F57, $alpha: 0.3);
        transition: all ease 0.4s;

        &:hover {
            border-color: $theme-color;
        }
    }

    .slick-active {
        button {
            width: 40px;
            transform: scale(1);
            background-color: $theme-color;
        }
    }
}

.slick-arrow {
    display: inline-block;
    padding: 0;
    background-color: $white-color;
    color: $theme-color;
    position: absolute;
    top: 50%;
    border: 1px solid $theme-color;
    box-shadow: none;
    left: var(--pos-x, -100px);
    width: var(--icon-size, 56px);
    height: var(--icon-size, 56px);
    line-height: var(--icon-size, 56px);
    font-size: var(--icon-font-size, 18px);
    margin-top: calc(var(--icon-size, 56px) / -2);
    z-index: 2;
    border-radius: 999px;

    &.default {
        position: relative;
        --pos-x: 0;
        margin-top: 0;
    }

    &.slick-next {
        right: var(--pos-x, -100px);
        left: auto;
    }

    &:hover {
        background-color: $theme-color;
        color: $white-color;
        border-color: $theme-color;
    }
}

.arrow-margin {
    .slick-arrow {
        top: calc(50% - 30px);
    }
}

.arrow-wrap {
    .slick-arrow {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.5);
    }

    &:hover {
        .slick-arrow {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
}

@include xl {
    .slick-arrow {
        --arrow-horizontal: -20px;
        --pos-x: -70px;
    }
}

@include ml {
    .slick-arrow {
        --arrow-horizontal: 40px;
        --pos-x: -17px;
    }
}

@include md {
    .slick-arrow {
        --icon-size: 40px;
        margin-right: 40px;
        font-size: 14px;

        &.slick-next {
            margin-right: 0;
            margin-left: 40px;
        }
    }

    .slick-dots {
        margin: 40px 0 0 0;
    }
    .icon-box {
        .slick-arrow {
            margin-right: 0;
        }
    }
}

.icon-box.style2 {
    .slick-arrow {
        background-color: rgba($color: #fff, $alpha: 0.1);
        color: $white-color;
        border-color: rgba($color: #fff, $alpha: 0.1);
        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }
}